{
    "client_id": "{{ mqtt_client_id }}",
    "server": "{{ mqtt_broker_address }}",
    "port": {{ mqtt_broker_port | default('1883') }},
    "ssid": "{{ ssid }}",
    "wifi_pw": "{{ ssid_password }}",
    "ntp_server": "{{ ntp_server | default('10.0.1.201') }}",
    "sda_pin": {{ sda_pin }},
    "scl_pin": {{ scl_pin }},
{% if neopixel_power_pin %}
    "neopixel_power_pin": {{ neopixel_power_pin }},
{% endif %}
{% if neopixel_pin %}
    "neopixel_pin": {{ neopixel_pin }},
{% endif %}
{% if led_pin %}
    "led_pin": {{ led_pin }},
{% endif %}
    "sensors": {{ sensors | to_nice_json }},
    "disable_watchdog": {{ disable_watchdog | default(false) | bool | to_nice_json }}
}
